# Created by .ignore support plugin (hsz.mobi)
.idea/dataSources.local.xml
.idea/workspace.xml
by.kanarski.booking.dao/src/
by.kanarski.booking.entities/src/
out/
by.kanarski.booking.services/src/
src/main/
src/test/
web/WEB-INF/classes/
web/src/
dao/src/main/resources/
dao/target/
entities/src/main/resources/
entities/src/test/
entities/target/
services/src/main/resources/
services/src/test/
services/target/
web/target/
